header
{
	background-color: #a7a7a7;
	min-height: 10vh;
}

header div
{
	text-align: center;
}

header div img
{
	display: inline-block;
	float: left;
	width: 30%;
	height: auto;
}

header div p
{
	display: block;
	color: #ffffff;
	text-transform: uppercase;
	font-family: cursive;
	font-size: 200%;
	text-align: center;
	margin: 0 auto;
}

header nav
{
	clear: both;
	display: block;
	text-align: center;
}

header nav ul
{
	list-style-type: none;
	display: inline-block;
	text-align: center;
}

header nav ul li
{
	display: inline-block;
	width: 20%;
	margin: 0px;
	padding: 3px;
	float: left;
	border: 2px solid #303030;
	border-radius: 5px;
	color: #ffffff;
	text-align: center;
}

header nav ul li:hover
{
	text-transform: uppercase;
	border-color: #707070;
}

nav li a
{
	text-decoration: none;
	color: #ffffff;
}