div.leftside
{
	display: inline-block;
	width: 20%;
	border-radius: 5px;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #a0c0a0;
	min-height: 500px;
}

div.leftside ul
{
	color: #ffffff;
	margin-left: -10px;
	text-align: left;
	text-transform: uppercase;
}

div.leftside ul li
{
	text-transform: lowercase;
	margin-left: 20px;

}

div.leftside ul li a
{
	color: #ffffff;
}

div.leftside ul li a:hover
{
	color: #2020ff;
}