main
{
	padding-top: 5px;
	padding-bottom: 5px;
	min-height: 70vh;
	float: left;
	width: 80%;

}

main div
{
	margin: 0 auto;
	text-align: center;
	padding-top: 2%;
	width: 95%;
	
}

main div table
{
	border-collapse: collapse;
	border: 2px solid #606060;
	width: 100%;
}

main td, main th
{
	padding: 5px 5px;
	border: 2px solid #606060;
}

main div.logindiv
{
	width: 40%;
	border: 3px solid #a0a0a0;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 10px 10px 5px #a7a7a7;
	margin-top: 10%;
}


main div form
{
	display: inline-block;
	text-align: center;
}

input[type=submit]
{
	border: 1px solid #a0c0a0;
	border-radius: 5px;
	margin-top: 2%;
	margin-bottom: 2%;
}

