div.main
{
	float: right;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 79%;
}

div.main div form
{
	text-align: center;
	border: 3px solid #a0c0a0;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 10px 10px 5px #a0c0a0;
	margin: 0 auto;
	margin-top: 20%;

}

input[type=submit]
{
	border: 1px solid #a0c0a0;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 2%;
}

input[type=submit]:hover
{
	color: #309030;
	text-decoration: underline;
	border: 1px solid #a0c0a0;
	box-shadow: 3px 3px 2px #a0c0a0;
	border-radius: 5px;
}

